// controls
.ui--controls {
	position: fixed;
	left: 0;
	right: 0;

	padding: 0.5rem 0.5rem;

	font-size: 0.875rem;
	line-height: 1;

	transition: all 300ms ease;
	.visible--ui-controls & {
		transform: translateY( 0 );
	}
}
.ui--controls--top{
	top: 0;
	left: 30%;
	right: 30%;
}
.ui--controls--bottom{
	bottom: 0;
}
.ui--controls--move--top{
	transform: translateY(-100%);
}
.ui--controls--move--bottom{
	transform: translateY(100%);
}

.ui-toggle--controls {
	position: absolute;
	right: 0;
	top: 0;

	display: block;
	margin: -2.25em 1rem 0 0;

	text-transform: uppercase;
	color: inherit;

	opacity: 0.5;

	&::before {
		content: ' ';

		position: relative;
		top: 0.1em;

		display: inline-block;
		width: ( 12 / 14 * 1em );
		height: ( 12 / 14 * 1em );
		margin: 0 0.25em 0 0;

		border: 1px solid currentColor;
		border-radius: 50%;
	}

	&:hover {
		.animation--blink;
	}

	.visible--ui-controls & {
		opacity: 1;

		&::before {
			background: @color--text;
		}
	}
}


// control buttons
.button-row {
	display: flex;
}

.control-button {
	.button;

	flex-grow: 1;
	height: 4rem;
	margin: 0.5rem;
	padding: 0.65rem 0.7rem;

	&:hover {

	}
}

.control-button--narrow {
	flex-grow: 0;
	flex-shrink: 0;
	width: 4rem;
}

.control-button--no-feedback {

	&:active,
	&.active {
		background: rgba( 255,255,255,1 );
	}

	&.active {
		color: @color--bg;
	}
}
//Switcher W3S
.switch-container{
	position: absolute;
    bottom: 6em;
    left: 50%;
    right: 50%;
	padding: 0.5rem 0.5rem;
	margin: calc( -35vh - 2.5rem ) 0 0 -4%;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #252529;
	border: 1px solid currentColor;
    border-radius: 3px;
	-webkit-transition: .2s;
	transition: .2s;
	&::before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 3px;
		background-color: white;
		-webkit-transition: .2s;
		transition: .2s;
	}
	&.round {
		border-radius: 34px;
		&::before {
			border-radius: 50%;
		  }
	}
}
input{
	&:focus {
		+.slider {
			box-shadow: 0 0 1px #2196F3;
		}
	}
	&:checked {
		+.slider {
			&::before {
				-webkit-transform: translateX(26px);
				-ms-transform: translateX(26px);
				transform: translateX(26px);
			}
		}
	}
}
// after apply css by media screen
@media screen and ( max-width: 764px ) {
	.control-button {

	}

	.control-button--narrow {
		width: auto;
	}
}


@media screen and ( max-width: 656px ) {
	.control-button {
		flex-shrink: 1;
		flex-grow: 1;
	}

	.control-button--narrow {
		flex-shrink: 1;
		flex-grow: 1;
	}
}


@media screen and ( max-width: 460px ) {
	.button-row {
		flex-wrap: wrap;
	}

	.control-button {
		min-width: ~'calc( 20vw - 1.5rem )';
	}

	.control-button--narrow {
		min-width: ~'calc( 20vw - 1.5rem )';
	}
	
	.control-switch{
		bottom: 11em;
		z-index: 1;
	}
}


@media screen and ( max-height: 480px ) {
	.button-row {

	}

	.control-button {
		height: 3rem;
	}

	.control-button--narrow {
		// height: 2rem;
	}

	.control-switch{
		bottom: 11em;
		z-index: 1;
	}
}